<h2>정보 수정</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :이메일 %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :비밀번호 %> <i>(변경 안하시면 공백으로 두세요)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 글자 이상으로 써주세요 </em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :비밀번호를_한번더_입력해주세요 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :비밀번호 %> <i>(현재 비밀번호를 작성해주세요)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label :이름 %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
      <%= f.label :프로필사진 %>
      <%= f.file_field :avatar %>
    </div>

  <div class="actions">
    <%= f.submit "수정완료" %>
  </div>
<% end %>


<%= link_to "돌아가기", :back %>
