<div class="container"> 
    <div class="row"> 
        <div class="col s12 m4"> 
            <div class="card"> 
                <div class="card-image"> 
                    <img src="<%= current_user.avatar.url %>" /> 
                </div>
                <div class="card-content"> 
                    <div class="card-title"><%= current_user.name %> 님</div> 
                    <p>이메일 : <%= current_user.email %></p> 
                    <p>올린 글 개수 : <%= @posts_count %> 개</p> 
                    
                    <%= link_to new_post_path do %> 
                        <button class="btn">글 쓰기</button> 
                    <% end %>
                        <a href="/users/edit"> <button class="btn">정보수정</button></a>
                </div>
            </div> 
        </div> 
        <div class="col s12 m8"> 
            <% @posts.each do |post| %> 
                <%= render partial: "post", object: post %>
              <% end %> 
        </div>
    </div>
</div>

